<!DOCTYPE html>
<html decorate="layouts/defaultTemplate">
<head>
<meta charset="UTF-8">
<title>Insert title here</title> 

 
 <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<!--  header  -->
<div th:replace="layouts/commonHeader :: header">My header will go here.</div>

<!--  content -->

<section layout:fragment="content">
<p>Replace this with a page that has layout:fragment="conent"</p>
</section>

<!--  footer -->
<div th:replace="layouts/commonFooter :: footer">My footer will go here.</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>

</html>