<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout">

<body>

<div class="container my-5" layout:fragment="content">
<form action="#" method="post" th:action="@{processLogin}" th:object="${loginModel}">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input th:field = "*{username}" type="text" class="form-control" id="username" aria-describedby="usernamehelp">
    <div id="usernamehelp" class="form-text">We'll never share your email with anyone else.</div>
  	<p class="alert alert-danger" th:if= "${#fields.hasErrors('username')}" th:errors="*{username}">Username error</p>
  	
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input th:field = "*{password}" type="text" class="form-control" id="password">
    <p class="alert alert-danger" th:if= "${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
  	
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>

</body>
</html>