<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout">
 
<!-- 
1. Insert title
2. Insert table for orders
3. Add to defaultLayout

 -->
 <div layout:fragment="content">
 
 <h2 th:text="${title}"></h2>
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">OrderNo</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Qty</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="order : ${orders}">
      
      <td th:text="${order.id}"></td>
      <td th:text="${order.orderNo}"></td>
      <td th:text="${order.productName}"></td>
      <td th:text="${order.price}"></td>
      <td th:text="${order.quantity}"></td> 
    </tr>
   
  </tbody>
</table>
</div> 